*{
   box-sizing: border-box;
   margin:0;
   padding: 0;
}

#lapage{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
header{
    width: 100vw;
    height: 18vh;
    padding: 0;
    margin: 0;
    
}
header img {
    width: 83px;
    height:40px;
}
/*partie du menu dans header*/
nav {
    width: 100vw;
    height: 18vh;
    max-width: 417px;
    margin: auto;
}
nav ul {
    padding: 0;
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    border-bottom: rgb(243, 243, 243) 3px solid;
}
nav ul li {
    list-style-type: none;
    text-emphasis: none;
}

nav ul li:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-left: 25px;
    margin-top: 10px;
}

nav ul li:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    text-align: center;
    padding-top: 17px;
}

nav ul li:nth-child(3){
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    text-align: center;
    padding: 17px 5px 0px 0px;
}
nav ul li:nth-child(4){
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: end;
    margin: 20px 0px 0px 90px;
    font-weight: bolder;
}

nav ul li:hover{
    font-weight: bolder;   
    border-bottom:#008bfc solid 3px;
    padding-bottom:28px;
}
nav ul li:nth-child(1):hover{
    border-bottom: none;
    }
nav ul li:nth-child(4):hover{
border-bottom: none;
}
nav a {
    font-size: 0.9em;
    text-decoration: none;
    color: rgb(26, 25, 25);
}
nav a:hover {
    color:#0097fc;
}
#inscription{
    color:#0097fc; 
}

/* section avec barre de recherche*/
#section0{
    width: 100vw;
    margin: auto;
    max-width: 399px;
    padding-left: 10px;
}

#section0 h1{
    font-size: 1.2em;
    width:90%;
    letter-spacing: 1px;
    padding-left: 20px;
   /* min-width: 275px;*/
}
#section0 p{
    font-size: 0.85em;
    margin-top: 10px;
    padding: 0px 0px 10px 20px;
}
form{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-bottom:20px;
}
#bouton {
  display: none; 
}
#map .fas {
    color: rgb(0, 0, 0);
    font-size:0.8em;
    background-color:#F2F2F2;
    width: 35px;
    height: 35px;
    border-radius: 10px 0px 0px 10px;
    margin-top: 20px;
    padding: 10px 10px 8px 12px;

}
#rechercher{
    font-size: 0.9em;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    width: 210px;
    margin-top: 20px;
    padding-left: 25px;
    border: solid #f5f5f5 0.1px;
    border-left: none;
    border-right: none;
}
#rechercher:link {
    outline: none; /*pour retirer contour noir lors du click*/
    border:none;
}
#rechercher:visited {
    outline: none;
    border: none;
}
#rechercher:focus {
    outline: none; 
    border: none;
}
#rechercher:hover{
    color:#0065FC;
    border: none;
}
#rechercher:active{
    outline: none; 
    border: none;
}

#search .fas{
    font-size: 0.8em;
    color:white;
    background-color:  #0065FC ;
    font-weight: bolder;
    height: 35px;
    width: 35px;
    border:transparent;
    border-radius: 10px 10px 10px 10px;
    margin-top: 20px;
    margin-left: -8px;
    padding: 10px 10px;
}
#search .fas:hover{
    outline: none; 
    border:none;
    background-color: blue;
}
/*partie article "filtres"*/
#filtres {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: auto;
}
article h2 {
    font-size: 0.9em;
    width: 100%;
    max-width: 380px;
    margin: 0px 0px 20px 60px;
}
article ul {
    display: flex;
    flex-wrap: wrap;
    min-width: 286px;
    max-width: 286px;
    padding: 0;
    margin-right: 50px;
}
article ul li{
    list-style-type: none; 
    text-decoration: none;
    margin-bottom: 23px;
    margin-left: 10px;
    margin-right: 5px; 
}
article a{
    list-style-type: none; 
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 0.9em;
    font-weight:700;
    height:22px;
    border:rgb(221, 220, 220) solid 1.8px;
    border-radius: 20px 20px 20px 20px; 
    border-left-style: hidden; 
    padding:8px 15px 8px 40px;
    position: relative;
}

article a:hover{
    list-style-type: none;
    text-decoration: none;
    color: #0065FC;
    border:  #0065FC 1px solid;
    border-left-style: hidden; 
    font-style: oblique;
}

 article .fas{
    width: 36px;
    height: 36px;
    color:#0065FC;
    border-radius: 30px 30px 30px 30px;
    padding: 13px 13px 10px 13px;
    background-color:#DEEBFF;
    font-size: 11px;
    margin-right: 10px;
    position: absolute;
    top: -5%;
    right: 95%;
    left: 0%;
    bottom: 65%;
}
/*div information dans l'article*/
#information{
    width: 100%;
    max-width: 373px;
    position: relative;
    margin-bottom: 30px;
}
#information .fas{
    background-color:white;
    color:#0065FC;
    height: 18px;
    width: 18px; 
    font-size:0.5em;
    padding: 3px 8px 10px 6px;
    border:solid rgb(223, 223, 223) 1px;
    border-radius: 10px;
    margin: 12px 10px 0px 10px;
    position:absolute;
    left: 20px;
    top: -3px;
}
#information p{
    font-size: 0.9em;
    width: 80%;
    margin: 10px 0px 0px 55px;
}

/* section1 ( aside + hebergement)*/
#section1{
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    height: 100%;
    padding: 0;
}   
#section1 h1{
    display: none;
}
#section1 h2{
    width: 300px;
    font-size: 1.1em;
    margin-top: 30px;
    padding-left: 0px;
}

/*aside */
aside{
    background: #F2F2F2; 
    height: max-content;
    width: 100%;
    margin: auto;
    padding-bottom: 30px;
}

#titre-icone {
    display: flex;
    justify-content: space-around;
    margin:0px 0px 10px 0px;
    margin: auto;
    width: 100%;
    max-width: 373px;
    margin-bottom: 10px;
}
#titre-icone h2{
    font-size: 1.1em;
    margin-left: 10px;
    /*max-width: 373px;*/
} 

#titre-icone .fas{
    font-size: 17px; 
    height: 10px;
    width: 8px;
    margin-top: 30px;
    padding-right: 40px;
    color: black;
}

aside ul{
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    padding:0px 10px 0px 10px;
}
aside ul li{
    list-style-type: none;
    text-decoration: none;
    border-radius: 15px 15px;
    background-color: white;
    width: 88vw;
    margin: auto;
    max-width: 361px;
    margin-top: 10px;
    padding:4px 4px;
    box-shadow: rgb(204, 204, 206) 3px 3px 3px; 
}
aside img{
    width: 115px;
    height: 115px;
    border-radius: 15px 0px 0px 15px;
}

aside a{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    font-size: 0.9em;
}
aside a:link {
    color: rgb(0, 0, 0);
}
aside a:visited {
    color: rgb(0, 0, 0);
}
aside a:focus {
    color: rgb(0, 0, 0);
}
aside a:hover{
    color:#0065FC;
    list-style-type: none;
    text-decoration: none;  
}
.description{  
    margin: 10px 0px 0px 10px;   
    font-size: 0.9em;
}
.description h3{
    width: 95%;
}
.description p {
    padding-left: 0px;
}
aside .rating{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}
aside .stars1{
    font-size: 0.7em;
    color:#0065Fc ;
}
aside .stars2{
    color:rgb(199, 199, 204);
    font-size:0.7em; 
    padding-left: 2px;
}

/*partie hebergement*/
#sous-section1{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto; 
    margin: auto;
    padding: 0;
}

.carte-hebergement ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}
    
.carte-hebergement ul li{
    margin: auto;
    margin-top: 15px;
    width: 85vw;
    max-width: 355px;
    height: 25vh;
    max-height: 159px;
    list-style-type: none;
    text-decoration: none;
    font-size: 0.9em;
    border-radius: 20px;
    background-color:white;
    box-shadow: #eceaea 2px 4px 5px 2px;
    
}
.carte-hebergement h3{
    margin: 2px 10px;
    font-size: 1.2em;
}
.carte-hebergement p{
    margin:5px 2px 0px 2px;
    padding-left: 8px;
    font-size: 0.9em;
}
.carte-hebergement img{
    width: 100%;
    height: 60%; 
    border-radius: 20px 20px 0px 0px;
}

.carte-hebergement a{
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 0.8em;
    font-family: 'Raleway', sans-serif;
}
.carte-hebergement a:hover{
    color: #0065FC;
    font-weight: 800;
    list-style-type: none;
    text-decoration: none;  
}
strong{
    font-weight: 900;
}
h4{
    width: 80%;
    font-size: 1.1em;
    margin: 20px 0px 20px 0px;
    padding-left: 5px;
}
h4 a{
    color: rgb(0, 0, 0);
    text-decoration: none;  
}
h4 a:hover{
    color: #0065FC;
    font-weight: 800;
    list-style-type: none;
    text-decoration: none;  
}
/*les etoiles */
.carte-hebergement .rating{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 10px;
}
.carte-hebergement .stars1{
    color:#0065FC;
    font-size:0.8em;  
    height: 7px;
}

.carte-hebergement .stars2{
    color:rgb(222, 222, 228);
    font-size:0.8em;
    padding-left: 2px;
}
/*partie activites à Marseille*/
#section2{
    width: auto;
    height: auto;
    margin-bottom: 30px;
    padding: 0;
}
#section2 h2{
    width: 100%;
    max-width: 450px;
    margin: auto;
    font-size: 1.1em;
    padding: 10px 0px 20px 40px;
}
#sous-section2{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 172vh;
    padding: 0;
}
/*partie grande-img*/
.grande-img{
    margin-bottom: 15px;
    margin: auto;
}
.grande-img img{
    width: 80vw;
    max-width: 370px;
    height: 20vh;
    box-shadow: rgb(228, 224, 224) 2px 2px 2px 0px;
    border-radius:  18px 18px 0px 0px;
}
.grande-img h3{
    box-shadow: rgb(238, 236, 236) 2px 2px 4px 0px;
    border-radius: 0px 0px 10px 10px;
    width: 80vw;
    max-width: 370px;
    font-size: 0.8em;
    padding: 10px 0px 12px 10px;
}
.grande-img a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.grande-img a:hover{
    color:#0065FC;
}
/*partie grande-img*/
.petite-img{
    margin: auto;
    margin-top: 15px;
}
.petite-img img{
    width: 80vw;
    max-width: 370px;
    height: 20vh;
    box-shadow: rgb(228, 224, 224) 2px 2px 2px 0px;
    border-radius:  15px 15px 0px 0px;
}
.petite-img h3{
    box-shadow:2px 2px 4px 0px rgb(223, 224, 221);
    border-radius: 0px 0px 10px 10px;
    margin-top: 0px;
    padding: 10px 0px 12px 10px;
    font-size: 0.8em;
    width: 80vw;
    max-width: 370px;
    margin-bottom: 15px;
}
.petite-img a{
    color: black;
    text-decoration: none;
}
.petite-img a:visited {
    color: rgb(0, 0, 0);
}
      
.petite-img a:hover{
    color:#0065FC;
}

/*partie footer*/
footer {
    display: flex;
    flex-direction: column;
    background:  #F2F2F2;
    padding: 30px 0px 0px 40px;
    width:100vw;
    height: 50vh;
}
footer h3{
    font-size: 1em;
    padding-bottom: 10px;
}
footer ul {
    width: 80%;
    padding-bottom: 20px;
}
footer ul li{
    list-style-type: none;
    font-size: 0.8em;
    margin-top: 5px;
}

/* taille tablette -et juqu'à l'ipad pro qui est à 1024px*/
@media screen and (min-width: 768px){
    /*partie du menu dans header*/
    header, nav{
        height: 12vh;
        max-width: none;
    }
    
    nav ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, 5%);
        grid-template-rows: 100%;
        border-bottom:none;
    }
    
    nav ul li:nth-child(1){
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-left: 15px;
        margin-top: 20px;
    }

    nav ul li:nth-child(2){
        grid-column-start: 14;
        grid-column-end: 17;
        grid-row-start: 1;
        grid-row-end: 2;
        padding-top: 0px;
        margin-top: 30px;
    }

    nav ul li:nth-child(3){
        grid-column-start: 17;
        grid-column-end: 19;
        grid-row-start: 1;
        grid-row-end: 2;
        padding-top: 0px;
        margin-top: 30px;

    }
    nav ul li:nth-child(4){
        grid-column-start: 19;
        grid-column-end: 21;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align:center;
        margin: 30px 0px 0px 0px;
        font-weight: bolder;
    }
    nav ul li:hover{
        font-weight: bolder;  
        border-top: #0065FC solid 2px ; 
        border-bottom:none;
        margin-top: 0px;
        padding: 28px 0px 0px 0px;
    }
    nav ul li:nth-child(1):hover{
        border-top: none;
        margin-top: -10px;
    }
    /* section avec barre de recherche*/
    #section0{
        width: 80vw;
        max-width: none;
        margin:0px 0px 0px 0px;
        margin: 0;
        min-height: none;
        padding-left: 10px;
    }
    #section0 h1{
        font-size: 1.2em;
        width:95%;
        margin-left: 0px;
    }
    #section0 p{
        font-size: 0.85em;
        margin-top: 10px;
        padding-left: 20px;
    }
    form{
        display: flex;
        flex-direction: row;
        padding-left: 10px;
    }
    #bouton {
        display: block;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        color:white;
        background-color:  #0065FC ;
        font-weight: bolder;
        border:transparent;
        border-radius: 0px 10px 10px 0px;
        height: 35px;
        width:100px;
        margin-top: 20px;
        padding-top: 10px 15px;
    }
    #bouton:link {
        outline: none; 
        border:none;
    }
    #bouton:visited {
        outline: none;
        border: none;
    }
    #bouton:focus {
        outline: none; 
        border: none;
    }
    #bouton:hover{
        outline: none; 
        border:none;
        background-color: blue;
    }
    #bouton:active{
        outline: none; 
        border: none;
    }

    #search .fas{
        display: none;
    }
/*partie article "filtres"*/
    #filtres {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
        height: auto;
    }
    article h2 {
        font-size: 0.9em;
        width: 10%;
        align-self:flex-start;
        margin: 30px 0px 15px 15px;
    }
    article ul {
        display: flex;
        min-width: none;
        max-width: none;
        padding: 0;
        margin-top: 30px;
        padding-left: 15px;  
        padding: 0;
        margin-right: 0px;
    }
    article ul li{
        list-style-type: none; 
        text-decoration: none;
        margin-bottom: 23px;
        margin-left: 5px;
        margin-right: 15px; 
    }
/*div information dans l'article*/
    #information {
        max-width: none;
    }
    #information .fas{
        position:absolute;
        left: 2px;
        top: -3px;
    }
    #information p{
        font-size: 0.9em;
        width: 100%;
        margin: 10px 0px 0px 35px;
    }
/* section1 ( aside + hebergement)*/
    #section1{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
/*partie hebergement*/
    #sous-section1{
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto; 
        background:#F2F2F2;
    }
    #sous-section1 h2{
        width: 100%;
        margin: auto;
        font-size: 1.1em;
        margin-top: 30px;
        padding-left: 15px;
    }

    .carte-hebergement ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        width: 100vw;
    }
    .carte-hebergement ul li{
        margin: 15px 15px 0px 10px;
        width: 30vw;
        max-width: 30vw;
        height: 27vh;
        max-height: 27vh;
        list-style-type: none;
        text-decoration: none;
        font-size: 0.9em;
        border-radius: 20px;
        background-color:#fff;
        padding: 4px 4px;
        box-shadow: #eceaea 2px 4px 5px 2px;
        
    }
    .carte-hebergement h3{
        font-size: 1.3em;
    }
    .carte-hebergement p{
        font-size: 1em;
    }
    .carte-hebergement img{
        width:100%;
        height: 60%; 
    }
    /*les etoiles */
    .carte-hebergement .rating{
    padding-top: 10px;
    padding-left: 10px;
    }
    h4{
        width: 20%;
        font-size: 1.3em;
        margin: 30px 0px 30px 20px;
    }
    h4 a{
        color: rgb(0, 0, 0);
        text-decoration: none;  
    }
    h4 a:hover{
        color: #0065FC;
        font-weight: 800;
        list-style-type: none;
        text-decoration: none;  
    }
    /*aside */
    aside{
        background:#F2F2F2;
        width: 100vw;
        height: max-content;
        padding-bottom: 20px;
    }
    #titre-icone {
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        margin:20px 0px 20px 0px;
        padding-left:5px;
        width: 90%;
    }
    #titre-icone h2{
        font-size: 1.2em;
    } 

    #titre-icone .fas{
        font-size: 20px; 
        height: 10px;
        width: 8px;
        color: black;
    }

    aside ul{
        display:flex;
        flex-direction: row;
        justify-content:space-evenly;
        align-items: center;
        padding:0;
        margin: 0;
    }
    aside ul li{
        width: 30vw;
        box-shadow: rgb(204, 204, 206) 3px 3px 3px; 
         padding:4px 4px;
    }
    aside img{
        width: 100px;
        height: 120px;

    }
    aside .rating{
        display: flex;
        flex-direction: row;
        margin-top: 5px;
    }
    aside p{
        padding-left: 0px;
    }
    .description h3{
        width: 100%;
    }
    
    /*partie activites à Marseille*/
    #section2{
        width: 100vw;
    }
    #section2 h2{
        font-size: 1.2em;
        padding: 30px 0px 10px 20px;
        width: 100%;
        max-width: 450px;
        margin: 0;
    }
    #sous-section2{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }
    .grande-img, .petite-img {
        width: 40%;
    }
    .petite-img{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .grande-img h3{
        width: 100%;
    }
    .grande-img img {
        height: 400px;
        width: 100%;
    }
    .petite-img img {
        height: 162px;
        width: 100%;
    }
    #special1{
    height: 250px;
    }
    #special2{
        height: 100px;
    
    }
    .grande-img h3{
        font-size: 0.9em;
        padding: 10px 0px 12px 10px;
    }
    
    .petite-img h3{
        width: 100%;
        margin-top: 0px;
        padding: 10px 0px 12px 10px;
        font-size: 0.9em;
        margin-bottom: 15px;
    }

    /*partie footer*/
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background:  #F2F2F2;
        padding: 30px 0px 10px 0px;
        width:100vw;
        height: auto;
    }
    footer h3{
        font-size: 1em;
        padding-bottom: 10px;
    }
    footer ul {
        width: 100%;
        padding-bottom: 20px;
    }
    footer ul li{
        list-style-type: none;
        font-size: 0.8em;
        margin-top: 5px;
    }        
}
@media screen and (min-width: 1025px){
    body {
        overflow-x:hidden;
    }
    #lapage{
        max-width: 1500px;
        margin: auto;
    }
/*partie du menu dans header*/
    header, nav{
        height: 11vh;
        width: 100vw;
        max-width: 1500px;
    }
    header, article{
        padding-left: 20px;
    }
    header img {
        height: 45px;
        width: 100px;
    }
    
    #section0 h1{
        padding: 30px 0px 0px 30px;
    }
    #section0 p,form{
        padding-left: 30px;
    }
    nav ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, 2%);
        grid-template-rows: 25% 25% 25% 25%;
        border-bottom:none;
    }
    nav ul li:nth-child(1){
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-left: 15px;
        margin-top: 20px;
    }
    nav ul li:nth-child(2){
        grid-column-start: 33;
        grid-column-end: 39;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    nav ul li:nth-child(3){
        grid-column-start: 39;
        grid-column-end: 44;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    nav ul li:nth-child(4){
        grid-column-start: 44;
        grid-column-end: 49;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    nav ul li:hover{
        font-weight: bolder;  
        border-top: #0065FC solid 2px ; 
        border-bottom:none;
        margin-top: 0px;
        padding: 28px 0px 0px 0px;
    }
    nav ul li:nth-child(1):hover{
        border-top: none;
        margin-top: -10px;
    }
/*partie article "filtres*/
    article h2 {
        font-size: 0.9em;
        margin: 30px 15px 15px 25px;
    }
    article ul li{
        list-style-type: none; 
        text-decoration: none;
        margin-bottom: 23px;
        margin-left: 5px;
        margin-right: 30px; 
    }
 /*partie information*/
    #information{
        padding-left: 20px;
    }   
    #information .fas{
        left: 20px;
    }
    /*partie hebergement*/
    #section1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;

    }
    #sous-section1 {
        width: 62%;
        max-width: 867px;
        border-radius: 18px;
        height: 70vh;
        max-height: 500px;

    }
    #sous-section1 h2{
        width: 100%;
        margin: auto;
        font-size: 1em;
        margin-top: 30px;
        padding-left: 25px;
    }
    .carte-hebergement{
        max-width: 870px;
        max-height: 454px;
    }
    .carte-hebergement ul{
        display: flex;
        justify-content: space-around;
        padding: 0;
        width:100%;
        max-width: 867px;
        max-height: 373px;
    }
    .carte-hebergement ul li{
        width:18vw;
        height: 24vh;
        border-radius: 18px;
        max-height: 172px;
        max-width: 253px;
    }
    .carte-hebergement h3{
        font-size: 1.1em;
    }
    .carte-hebergement p{
        font-size: 0.9em;
    }
    .carte-hebergement img{
        width: 100%;
        height: 64%;
        border-radius:  18px 18px 0px 0px;
    }
    /*les etoiles */
    .carte-hebergement .rating{
        padding-top: 5px;
        padding-left: 10px;
    }
    h4{
        width: 50%;
        font-size: 1.1em;
        margin: 15px 0px 30px 30px;
    }
    /*aside */
    aside{
        background: #F2F2F2;
        width: 35%;
        height: 70vh;
        max-height: 499px;
        max-width: 490px;
        border-radius: 18px;
        padding-bottom: 20px;
    }
    #titre-icone{
        margin:0px 0px 20px 0px;
        margin: auto;
        width: 85%;
        justify-content: space-between;
    }
    #titre-icone .fas{
        font-size: 18px; 
        height: 10px;
        width: 8px;
        color: black;
    }
    #titre-icone h2{
        font-size: 1em;
    }
    aside ul{
        display:flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
        padding:0;
        margin: 0;
    }
    aside ul li{
        width: 28vw;
        padding:4px 4px;
        max-width: 355px;
        max-height: 106px;
        margin-top: 15px;
        box-shadow: rgb(204, 204, 206) 3px 3px 3px; 
    }
   
    .description h3{
     width: 90%;
    }
    aside img{
        width: 100px;
        height: 100px;
    }
    aside p {
        padding-left: 0px;
    }
    aside .rating{
        display: flex;
        flex-direction: row;
        margin-top: 18px;
    }
    /*partie activites à Marseille*/
    #section2{
        width: 100vw;
        background-color: white;
        height: 500px;
    }
    #section2 h2{
        font-size: 1em;
        padding-left:0px;
        width: 100%;
        max-width: none;
        margin: 0;
        font-size: 1.1em;
        padding: 40px 0px 0px 30px;
    }
    #sous-section2{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        max-width: 1480px;
        max-height: 455px;
    }
    /*partie grande-img*/
    .grande-img, .petite-img{
        width: 23%;
        height: 440px;
        margin-bottom: 0px; 
        max-width: 320px;
    }
    .grande-img img{
        width: 100%;
        height: 400px;
        box-shadow: rgb(228, 224, 224) 2px 2px 2px 0px;
        border-radius:  18px 18px 0px 0px;
    }
    .grande-img h3{
        width: 100%;
        font-size: 0.8em;
        padding: 5px 0px 15px 10px;
    }
    /*partie petite-img*/
    .petite-img{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .petite-img #special1{
        width: 100%;
        height: 200px;
    }

    .petite-img #special2{
        margin-top: 13px;
        height: 120px;
        width: 100%;
    }
    .petite-img img{
        width:100%;
        height: 160px;
        box-shadow: rgb(228, 224, 224) 2px 2px 2px 0px;
        border-radius:  15px 15px 0px 0px;
        margin-top: 0px;
    }
    .petite-img h3{
        padding: 5px 0px 15px 10px;
        font-size: 0.8em;
        width: 100%;
        margin-bottom: 0px;
    }
    /*partie footer*/
    footer {
        display:flex;
        justify-content: space-between;
        background:  #F2F2F2;
        width:auto;
        height: auto;
    }
    footer h3{
        font-size: 1em;
        padding-bottom: 10px;
    }
    footer ul {
        width: 100%;
        padding-bottom: 20px;
    }
    footer ul li{
        list-style-type: none;
        font-size: 0.8em;
        margin-top: 5px;
    }  
    #propos{
        padding-left: 25px;
    }  
    #assistance{
      padding-right: 300px;
    }
}

@media screen and (min-width: 1256px){
    /*aside */
    aside{
        background: #F2F2F2;
        width: 35%;
        height: 70vh;
        max-height: 499px;
        max-width: 490px;
        border-radius: 18px;
        padding-bottom: 20px;
    }
    #titre-icone{
        padding-bottom: 15px;
        margin: auto;
        width: 85%;
        justify-content: space-between;
    }
    #titre-icone .fas{
        font-size: 18px; 
        height: 10px;
        width: 8px;
        color: black;
    }
    #titre-icone h2{
        font-size: 1em;
    }
    aside ul{
        display:flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
        padding:0;
        margin: 0;
    }
    aside ul li{
        width: 28vw;
        max-width: 355px;
        max-height: 106px;
        box-shadow: rgb(204, 204, 206) 3px 3px 3px; 
    }
    .description h3{
     width: 90%;
    }
    aside img{
        width: 100px;
        height: 100px;
    }
    aside p {
        padding-left: 0px;
    }
    aside .rating{
        display: flex;
        flex-direction: row;
        margin-top: 18px;
    }
}
@media screen and (min-width: 1490px){
    #sous-section2{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        max-width: 1480px;
        max-height: 455px;
        padding-left: 10px;
    }
    /*partie grande-img*/
    .grande-img, .petite-img{
        width: 23%;
        height: 440px;
        margin-bottom: 0px; 
        max-width: 320px;
    }
}
